import java.nio.file.Paths

def repoRoot  = Paths.get(projectDir as String).getParent().toString()

params {
  reporoot  = "${repoRoot}"
  logdir    = "${repoRoot}/logs"
  outdir    = "${repoRoot}/data"        
  datadir   = "${repoRoot}/data"        // repo-root data by default
  container = 'ghcr.io/omar-merhebi/interpretable-senescence-container:latest'
  seed      = 416

  norm = [
    znorm   : true
    minmax  : true
  ]
}

weblog.enabled  = false
cleanup         = false

process {
  withName:/.*/ {
    container   = params.container
    shell       = ['/bin/bash','-euo','pipefail',]
  }

  scratch       = true
  stageInMode   = 'copy'
  stageOutMode  = 'copy'
}

profiles {
  // ---- Local dev with Docker (repo mounted at /workspace, data at /data) ----
  engine_docker {
    docker {
      enabled    = true
      runOptions = "--gpus all"
    }
  }

  engine_apptainer {
    singularity {
      enabled       = true
      runOptions    = "--nv"
      cacheDir      = "${repoRoot}/.cache"
    }
    docker.enabled  = false
  }

  local {
    process { executor  = 'local' }
    params {
      data_dir  = "/path/to/data"
    }
  }

  longleaf {
    process { executor  = 'slurm' }
    params {
      data_dir  = "/path/to/data"
    }
  }

}

report {
  enabled   = true
  overwrite = true
  file      = "${params.logdir}/report.html"
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.logdir}/timeline.html"
}

trace {
  enabled   = true
  overwrite = true
  fields    = 'task_id,process,tag,exit,status,workdir,hash,container'
  file      = "${params.logdir}/trace_with_publish.txt"
}

workDir = "${params.data_dir}/nextflow-work"