# .devcontainer/docker-compose.yml
services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.dev
      args:
        BASE_IMAGE: "ghcr.io/omar-merhebi/interpretable-senescence-container:latest"
    # Keep container alive
    entrypoint: ["/bin/sh", "-lc"]
    command: ["while true; do sleep 3600; done"]
    init: true
    stdin_open: true
    tty: true
    volumes:
      - ../:/workspace:cached
      - /mnt/sshfs/work/projects/senescence:/data:rw
    gpus: all
